@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: black;
  overflow: hidden;
  height: 100%;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}
a {
  text-decoration: none;
  color: #fff;
}
#mainScreen {
  position: relative;
  background-color: black;
}

.ui-menu {
  display: flex;
  font-size: 14px;
  position: absolute;
  padding: 20px;
  bottom: 30px;
  left: 30px;
}
.ui-elem {
  display: flexbox;
  color: white;
  border: 2px solid white;
  padding: 20px;
  flex-direction: row;
}
.ui-elem a:hover {
  color: #7a0e56;
}